html, body, #root {
    height: 100%;
}

.sun-rise-set {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 101;
    background: #2f2f2f;
}